.game-area__form {
  .game-area__form-input-group {
    margin-bottom: 10px;
  }
  input[type=submit] {
    background-color: #4fb44e;
    color: white;
    border: 1px solid gray;
    font-weight: bold;
    padding: 5px 10px;
  }
}
